<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput/>
  </mat-form-field>

  <mat-form-field appearance="outline" color="warn">
    <mat-label>Price</mat-label>
    <input formControlName="price" matInput type="number"/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Quantity</mat-label>
    <input formControlName="quantity" matInput type="number"/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <input formControlName="description" matInput/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Thumbnail</mat-label>
    <input formControlName="thumbnail" matInput/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <ngx-mat-file-input
      formControlName="currentFile"
      placeholder="Basic Input"
    ></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
  </mat-form-field>

  <section class="example-section">
    <span class="example-list-section">
      <ul>
        <li *ngFor="let category of categoriesService.allCateg">
          <mat-checkbox
            (ngModelChange)="addCategory(category)"
            [ngModelOptions]="{ standalone: true }"
            [ngModel]="isSelected(category)"
          >
            {{ category }}
          </mat-checkbox>
        </li>
      </ul>
    </span>
  </section>

  {{form.status}}

  <div class="login-buttons">
    <button (click)="save()">Save</button>
    <button routerLink="..">Back</button>
  </div>
</form>
