.form-start {
  top: 0;
  position: absolute;
  padding-top: 10vh;
  background: rgb(51, 31, 51, 95%);
  margin-top: 21.72vh;
  margin-left: 9.57vw;
  width: 22.35vw;
  height: 38.13vh;
  border-radius: 20px;
  z-index: 1;
}

h1,
p {
  margin-left: 3vw;
  margin-right: 3vw;
}

.login-buttons {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
}
