<app-navbar></app-navbar>
<div class="my-account-contents">
  <div class="details" style="display: flex;  justify-content: space-around;">
  <app-info-card [headername]="'Account Details'"
                 [fitext]="'Username'" [fires]="currentUser.username"
                 [setext]="'Email'" [seres]="currentUser.email"
                 [thtext]="'Phone'" [thres]="currentUser.phone"
  ></app-info-card>
    <app-info-card [headername]="'Personal Details'"
                   [fitext]="'First Name'" [fires]="currentUser.firstName"
                   [setext]="'Last Name'" [seres]="currentUser.lastName"
                   [thtext]="'Address'" [thres]="currentUser.location"
    ></app-info-card>
  </div>
</div>
