.main-page-contents {
  display: flex;
  padding-left: 74px;
  padding-right: 74px;
  flex-direction: column;
  row-gap: 1vw;
}

.main-page-cover {
  display: flex;
  max-height: 73vh;
  flex-direction: column;
  font-size: 20px;
  max-width: 100%;
}

.cover-text {
  position: relative;
  bottom: 4.25vw;
  left: 3.19vw;
  font-size: 3vw;
}

.category-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.details {
  flex-direction: row;
}
