 <app-navbar></app-navbar>
 <div class="main-page-contents">
   <div class="main-page-cover">
        <img src="assets/glasses.png" alt="Cover for main page">
        <h1 class="cover-text">Buy the things that make your life complete</h1>
   </div>
   <div class="category-section">
     <app-category-button [name]="'Laptops'"></app-category-button>
     <app-category-button [name]="'Mobile Phones'"></app-category-button>
     <app-category-button [name]="'Gaming & Office Systems'"></app-category-button>
     <app-category-button [name]="'Components'"></app-category-button>
     <app-category-button [name]="'Gaming'"></app-category-button>
     <app-category-button [name]="'Monitors & Peripheries'"></app-category-button>
     <app-category-button [name]="'Tv & Video'"></app-category-button>
     <app-category-button [name]="'Networking & UPS'"></app-category-button>
     <app-category-button [name]="'Software & Office Supplies'"></app-category-button>
   </div>
<app-item ></app-item>
   <div class="category-section">
     <img src="/assets/item-skeleton.png">
     <img src="/assets/item-skeleton.png">
     <img src="/assets/item-skeleton.png">
     <img src="/assets/item-skeleton.png">
   </div>
 </div>
 <app-footer></app-footer>
