
.navbar{

  left:0;
  top:0;
  position:fixed;
  width: 100%;
  height: 50px;
  background:var(--color-secundary);
  display: flex;
  align-items:center;
  justify-content:flex-end;
}
.navbar-items{
  padding-right:75px;
  display:flex;
  column-gap: 20px;
  align-items: center;

}
.search-bar{
  padding-right: 10px;
  background: none;
  color: var(--color-secundary-font);
  border: none;
  height: 25px;
  width: 250px;
  max-width: 250px;
  min-width: 250px;
  padding-left: 10px;
  outline: none;
}

.search-bar-border{
  display: flex;
  border: 2px solid;
  height: 32px;
  max-width:inherit ;
  min-width: inherit;
  border-color: var(--color-quaternary);
  border-radius: 4px;
}
.x{
  background: none;
  outline: none;
  border: none;
}

.home-button{
background: none;
  border: none;
}
