<div class="navbar">
  <div class="navbar-items">
    <div class="search-bar-border">
      <div style="padding-top: 2px; padding-right: 10px">
        <input class="search-bar"  (keyup)="onKey($event)" [value]="SearchResult">
      </div>
      <button class="x"  (click)="clearInputField()" >
        <img src="assets/x.svg">
      </button>
    </div>

    <app-cart-button image="./assets/shopping-cart.svg"></app-cart-button>
    <app-user-button image="./assets/user.svg"></app-user-button>
  </div>
</div>
