
.navbar{
  left:0;
  top:0;
  position:fixed;
  width: 100%;
  height: 50px;
  background:var(--color-secundary);
  display: flex;
  align-items:center;
  justify-content:flex-end;
}
.navbar-items{
  padding-right:75px;
  display:flex;
  column-gap: 5px;

}
