.dialog-account {
  display: flex;
  flex-direction: column;
}

.my-account-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

::ng-deep.mat-dialog-container {
  background: var(--color-tertiary);
  color: var(--color-secundary-font);
}

::ng-deep.mat-input-element {
  caret-color: #662966;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--color-quaternary);
}

.save-button {
  background: var(--color-accent);
  border: none;
  font-weight: bold;
  height: 3.72vh;
  width: 92px;
  border-radius: 8px;
}

.close-button {
  color: var(--color-secundary-font);
  background: none;
  height: 3.72vh;
  width: 92px;
  border-radius: 8px;
  border-color: var(--color-accent);
  border-width: 3px;
}
