.item{
  height:300px;
  width:240px;
  background: var(--color-secundary);
  border-radius: 16px;
  padding:16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}
.item-image{
  border-radius: 4px;
  min-height: 100px;
  max-height: 160px;
  max-width: 250px;
}
p{
  max-height: 100px;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}
h1{
  max-width: 220px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
