.info-text{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.info-card{
  width: 590px;
  height: 268px;
  background: var(--color-secundary);
  padding :16px 16px 16px 16px;
  border-radius: 16px;
}
