<div style="display: flex; flex-direction: column; row-gap: 8px; width: 400px; height: 700px">
  <img alt="Item thumbnial" class="item-image" src="{{ data.thumbnail }}" />
  <h1 style="max-width: 300px">{{ data.name }}</h1>
  <p style="max-width: 300px">{{ data.description }}</p>
  <p style="color: var(--color-warning)">{{ data.price }}$</p>
  <p>Quantity: {{ data.quantity }}</p>

  <div style="display: flex; flex-direction: column; row-gap: 10px; align-items: center">
    <button (click)="addToCart()" *ngIf="!auth.isAdmin" class="buy-button" mat-dialog-close="true">
      Add to Cart
    </button>

    <button
      (click)="favPress()"
      *ngIf="!auth.isAdmin"
      class="{{ buttonPressed ? 'fav-button' : 'fav-button-clicked' }}"
    >
      {{ favoriteButton }}
    </button>

    <button class="close-button" mat-dialog-close="true">Close</button>
  </div>
</div>
