
h1,h2{
  color:var(--color-main-font);
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: bolder;
}
body{
  background: var(--color-primary);
  color:var(--color-secundary-font);
  font-family: "JetBrains Mono";
  font-size: 14px;
}
:root{
  /* Background and all elements colors */
  --color-primary: #19141A;
  --color-secundary: #331F33;
  --color-tertiary: #4D264D;
  --color-quaternary: #662966;

  --color-accent: #00DB30;
  --color-warning: #EBDF71;

  --color-main-font: #F4F4F4;
  --color-secundary-font: #CECECE;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
