<div class="footer">
    <div class="footer-background" >
      <div style="position: fixed;bottom: 0px;margin-bottom: 60px;margin-left: 70px;margin-top: 34px;margin-right: 70px;padding-right: 400%;var(--color-secundary)">
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              FAK TLD
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            This is a FAQ placeholder
          </ng-template>
        </mat-expansion-panel>
      </div>
  </div>
</div>

