<div>>
    <div class="footer">
      <div class="footer-background" >
        <div>
          <ul style="list-style-type: none;flex-direction: row;display: flex;justify-content: space-evenly">
            <li><mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  FAQ
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                This is a FAQ placeholder
              </ng-template>
            </mat-expansion-panel></li>
          <li > <a href="https://youtu.be/dQw4w9WgXcQ">Contact Us</a> </li>
          </ul>
        </div>
      </div>

    </div>


</div>



