::ng-deep.mat-expansion-panel {
  background: var(--color-secundary);
  color: var(--color-secundary-font);
  border: none;
}

::ng-deep.mat-expansion-panel-header-title {
  color: var(--color-main-font);
}

.footer {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  bottom: 0;
  width: 100%;
  background: var(--color-secundary);
}

.footer-background {
  height: 100%;
  margin-bottom: 60px;
  margin-left: 70px;
  margin-top: 34px;
  margin-right: 70px;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
